# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
.gradle
*.iml
*.iws
*.editorconfig

# Gradle
log/
gradle/
target/
hooks/pre-push

# Java
build/
out/
*.class
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Log file
*.log
.scannerwork/report-task.txt
.scannerwork/.sonar_lock
.scannerwork/

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

